@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body { 
    font-family: 'Roboto'; 
    background-color: #f2f2f2;
    margin-left: 300px;
  }
  
  p { font-size: 0.9em; }

  h1 { 
      font-size:26px;
      color:#333;
  }
  
  #player {
      float:left;
      padding:2em;
      background-color:#acabab;
      border-radius: 5px;
  }
  
  #controls {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 3px;
    border-radius: 7px;
  }
  
  video {
      width:750px;
      height:400px;
     border-radius: 5px;
  }
  
  button {
    text-transform: uppercase;
    padding: 10px 20px;
      border:none;
      cursor:pointer;
      border-radius: 5px;
      color: #fff;
      background-color: #71469c;
      
  }
  

  #volume-bar {
      width: 50px;
      vertical-align: middle;
      padding:0px;
  }
  
  progress {
    font-size: 12px;
    width: 300px;
    height: 16px;
    border: none;
    margin-right: 10px;
    background: #d4d4d4;
    border-radius: 9px;
    vertical-align: middle;
  }
#progress-bar{
  background-color: rebeccapurple;
  color: #fff;
  margin-bottom: 20px;
  width: 700px;
  margin-left: 20px;
  padding: 5px;
}
  
