@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #256d55;
  color: #333;
  overflow-x: hidden;
  padding-bottom: 50px;
}  

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  h1 {
    color:#f2f2f2;
    font-size: 2.5rem;
  }
}

.timeline ul {
  background: #256d55;
  padding: 50px 0;
  li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
    }
    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 25px;
      background: #44b690;
      border-radius: 5px;
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
      span {
        color:#333;
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
  }
  
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  left: -480px;
}

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #44b690;
}


.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1; 
}
