@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$black: #353535;
$primary: rgb(161, 11, 161);
$accent: rgb(117, 7, 117);

* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  transform: translateY(10%);
  
}

h1 {
  font-family: "Playfair Display";
  margin-bottom: 2rem;
}

p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.button-primary {
  white-space: nowrap;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background-color: $primary;
  border: none;
  cursor: pointer;
  margin-top: 2rem;

  &:hover {
    background-color: $accent;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  background-color: #fff;
  padding: 2rem 4rem;
  padding-right: 10rem;
  border-radius: 5px;
}

.total {
  margin-top: 1rem;
  margin-left: 5rem;
  p {
    margin-left: 1rem;
  }
}

.flex {
  display: flex;
}

#service {
  padding: 0.8rem 1rem;
  background-color: #f2f2f2;
  border: none;
}

#bill {
  padding: 0.8rem 1rem;
  background-color: #f2f2f2;
  border: none;
}

#people {
  padding: 0.8rem 1rem;
  background-color: #f2f2f2;
  border: none;
}
