@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body{
    font-family: 'Roboto';
}

#myInput {
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  
  #myList {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myList li a {
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
  }
  
  #myList li a:hover:not(.header) {
    background-color: #eee; 
  }
