@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  display: block;
  justify-content: center;
  margin-left: 500px;
  margin-top: 100px;
}

.wrapper{
    display: block;
    border:2px solid #333;
    padding: 40px;
    width: 50%;
	height: 100%;
	margin-top: 50px;
    text-transform: uppercase;
    font-size: 25px;
}

input{
    height: 35px;
    font-size: 16px;
}
