@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background: peru;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 80vh;
}


.header {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-size: 60px;
	}
}
h3{
	text-transform: uppercase;
}
.wrapper {
	background: #815223;
	color: #fff;
	padding: 70px 20px;
	.counters {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
		text-align: center;
		max-width: 1100px;
		margin: 0 auto;
		overflow: auto;
		.counter {
			font-size: 45px;
			margin: 10px 0;
		}
	}
}
