@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


  body {
    font-family: 'Lato';
    background-color: #f2f2f2;
  }
  
section{
    display: flex;
}
.info{
    margin-left: 50px;
}
p{
    font-size: 18px;
}
#c{
    background: #eeeeee; 
    display: block; 
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 10px;
    margin-top: -140px;
    text-align: center;
    width: 10%;
    font-size: large;
}

canvas{
    background: #99afa3; 
    display: block; 
    margin: 0 auto;
    margin-left:auto; 
    margin-right:auto;
    border-radius: 5px;
}

#timerel{
    background: #eeeeee;
     display: block; 
    margin-left:auto; 
    margin-right:auto;
    margin-top:0px;
    text-align: center;
    width: 15%;
    font-size: large
}
#demo{
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 20%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: #a7a4a4;
    color: white;
    text-align: center;
    height : 50%;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color:#dd3030;
    color: white;
    text-align: center;
    height: 50%;
}
