@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

body{
  font-family: 'Poppins';
  box-sizing: border-box;
}
h1,p{
  text-align: center;
}
.img-zoom-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
#myimage{
  position: relative;
  
}
img{
  cursor: pointer;
  width: 300px;
  height: 300px;
}
.img-zoom-lens {
  z-index: 1000;
  position: absolute;
  border: 2px solid #bebcbc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 450px;
  height: 400px;
}
