@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: #f2f2f2;;
 h1{
   text-align: center;
   margin-bottom: -40px;
 }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .calculator {
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c9c9c9;
    box-shadow: 0px 0px 10px #333;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      #display {
        color: white;
        background-color: #aaaaaa;
        display: flex;
        width: 220px;
        font-size: 28px;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        overflow: hidden;
      }
      .btn {
        font-size: 18px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.15s;
        background-color: #aaaaaa;
        border-radius: 5px;
        &:hover {
          transition: 0.15s;
          box-shadow: 0px 0px 2px black;
        }
      }
    }
  }
}

#add, #subtract, #multiply, #divide,#clear, #equal, #dot  {
  color: white;
  background-color: #646464;
}
