*{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    width: 100%;
    background-color: #d6d0d0;
    position: relative;
}

.box{
    height: 70vh;
    width: 18vw;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4b849b;
    border: solid 2px black;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
}

.light-div{
    height: 33%;
    width: auto;
    margin: 3px;
    background-color: #345c6b;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    border-radius: 5px;
}

.light{
    width: 60%;
    height: 70%;
    border-radius: 50%;
    z-index: 77;
}

#red{
    background-color: #ba181b;
    box-shadow: 0px 0px 15px 8px #660708 inset;
}
#yellow{
    background-color: #fdc500;
    box-shadow: 0px 0px 15px 8px #e09f3e inset;    
}
#green{
    background-color: green;
    box-shadow: 0px 0px 15px 8px #52796f inset;    
}
#red.light.active{
    background-color: #ef233c;
    box-shadow: 0px 0px 15px 8px #ef233c;
}
#yellow.light.active{
    background-color: #ffe66d;
    box-shadow: 0px 0px 15px 8px #ffe66d;    
}
#green.light.active{
    background-color: #7ae582;
    box-shadow: 0px 0px 15px 8px #7ae582;    
}
