@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #eee;
	font-family: 'Lato', sans-serif;
	margin: 0;
	text-align: center;
}

h3 {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}

span {
	display: inline-block;
	margin-top: 20px;
	
}

i.fa-heart {
    color: red;
}

.like{
	background-image: url('img/girl.jpg');
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	margin: auto;
	max-width: 100%;
	position: relative;
	width: 320px;
	height: 420px;
  	
}

.like .fa-heart {
	position: absolute;
	animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
	to {
		transform: translate(-50%, -50%) scale(10);
		opacity: 0;
	}
}
