 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    body {
    font-family: 'Montserrat';
    height: 100vh;
    margin: 0;
    padding: 1rem;
    display: grid;
    place-items: center;

    }
    div {
        margin-top: -150px;
    background: white;
    padding: 2rem 4rem;
    text-align: center;
    border-radius: 5px;
    }
    span {
    display: block;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: normal;
    font-family: monospace;
    }

    button{
        padding: 0.7rem 2rem;
        text-transform: uppercase;
        cursor: pointer;
    }
    h2{
        color:#333;
        text-transform: uppercase;
    }
