@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body{
 text-align: center;
  font-family: 'Lato';
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #451175;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    font-size: 20px;
}

.keyboard-hidden {
    bottom: -100%;
}

.keyboard-keys {
    text-align: center;
}

.keyboard-key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard-key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard-key-wide {
    width: 12%;
}

.keyboard-key-extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard-key-activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard-key-active::after {
    background: #08ff00;
}

.keyboard-key-dark {
    background: rgba(0, 0, 0, 0.25);
}

textarea{
    font-size: 20px;
    height: 200px;
     width: 500px;
}
