@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');


body{
  font-family: 'Roboto';
  margin-left: 400px;
  background-color: #f2f2f2;
}
.wrapper{
  position: relative;
  height: 200px; 
}

.image {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

img{
  display: block;
  width: 600px;
  height: 400px;
}
.wrapper-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 20px;
  height: 140px;
  background-color: rebeccapurple;
  
}
