
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 300px;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
  }
    
  label {
    display: block;
    padding: 10px;
    text-align: center;

  }
  
  input {
    padding-bottom: 10px;
    width: 100%;
    display: block;
    font-size: 24px;
    border: 1px solid #333;
  }
  
  
  button {
    font-size: 16px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
    background-color: #ffffff;
    border: 2px solid  #333;

  }
  table{
    background-color: #beb3b3;
  }
  
  .result {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #8d8383;
    color: #ffffff;
    text-align: center;
  }
  
  table {
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
    border: 2px solid  #949292;
  }
  
  
  td {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
    border: 2px solid  #949292;
  }
  
  
