@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
body{
    background-color: #f2f2f2;
}
div,h1 {
  font-family: 'Roboto';
  text-align: center;
  font-size: 50px;
  
}

div{
    background-color: #d4d1d1;
    border: 2px solid #333;
    border-radius: 5px;
    width: 50%;
    padding: 40px 0px;
    margin-left: 300px;
}

h1{
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 50px;
}
