@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: 'Lato';
    margin:100px;
}
p{
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    white-space: nowrap;
}
