@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: wheat;
  ::selection{
    color: #fff;
    background: rebeccapurple;
  }
}

.wrapper{
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  max-width: 380px;
  width: 100%;
  
}
h1{
  color: #333;
  font-size: 42px;
  text-transform: uppercase;
  margin-right: 50px;
}
.poll-area{
  margin: 20px 0 15px 0;
}
label{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
  &:hover{
    border-color: #ddd;
  }
}


 .row{
  display: flex;
  pointer-events: none;
  justify-content: space-between;
}
 .column{
  display: flex;
  align-items: center;
}
 
.circle{
  height: 19px;
  width: 19px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  border-color: rebeccapurple;
  &::after{
    content: "";
    height: 11px;
    width: 11px;
    background: rebeccapurple;
    border-radius: inherit;
    position: absolute;
    left: 2px;
    top: 2px;
    display: none;
  }
}


 span{
  font-size: 16px;
  font-weight: 500;
 .percent{
  display: none;
}
 .progress{
  height: 7px;
  width: 100%;
  position: relative;
  background: #f0f0f0;
  margin: 8px 0 3px 0;
  border-radius: 30px;
  display: none;
  pointer-events: none;
  &:after{
    position: absolute;
    content: "";
    height: 100%;
    background: #ccc;
    width: calc(1% * var(--w));
    border-radius: inherit;
    transition: all 0.2s ease;
  }
}
 }
