@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

html,
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

.theme-light {
  --color-secondary: #fbfbfe;
  --font-color: #000000;
}
.theme-dark {
  --color-secondary: #2a2c2d;
  --font-color: #ffffff;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: var(--font-color);
  }
   button {
    color: var(--font-color);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }
}


.toogle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
